<%= form_for(@scene) do |f| %>
  <% if @scene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scene.errors.count, "error") %> prohibited this scene from being saved:</h2>

      <ul>
      <% @scene.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

	<p>
    <%= f.hidden_field :image %>
	</p>
  <div class="actions">
		<%= f.submit %> <b>Warning: set your image data if you want it saved</b>
 </div>
<% end %>
<h2>Optional Image</h2>
<script type="text/javascript" src="../svg-edit/embedapi.js"></script>
<a href='#' id="set_svg"  >Set Image</a>
<br/>
<iframe src="../svg-edit/svg-editor.html" width="900px" height="600px" id="svgedit" onload="window.init_embed();"></iframe>    
