<div class="picture_info" >
	<h1 width="100%">
		<%= @scene.title || "Unknown Title" %>
	</h1>
	<p id="notice"><%= notice %></p>
	<p>
	<strong><%= @scene.description || "No Description" %></strong>
	<br />
	<%= link_to 'Edit', edit_scene_path(@scene) %> |
	<%= link_to 'Back', scenes_path %>
	</p>

</div>

<div id="picture_div" class="picture_frame" >
	<br />
	<%= @scene.html_safe_image.html_safe %>
</div>

